body {
    font: 20px "Arial", sans-serif;
    margin: 20px;
}

.dining {
    border: none;
    text-align: center;
    color: white;
    padding: 15px 35px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #fc6603;
    margin: auto;
}